## MongoDB configuration
## Personalize with your own values for security reasons

# Where to expose and connect to the MongoDB server
MONGO_HOST='127.0.0.1'
MONGO_PORT='27017'

# MongoDB database name
MONGO_DATABASE_NAME='myurly'

# MongoDB database collection name
MONGO_COLLECTION_NAME='urls'

# MongoDB root username and password, change them to your own values for security reasons
MONGO_ROOT_USERNAME='admin'
MONGO_ROOT_PASSWORD='my-secure-password'

# MongoDB app username and password, change them to your own values for security reasons
MONGO_APP_USERNAME='myurly'
MONGO_APP_PASSWORD='myurly'
